{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block contenedor_principal %}
    <h1>Register</h1>

    {{ form_start(registrationForm, { attr: {
        novalidate: 'novalidate'
    }}) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
