{% extends 'base.html.twig' %}

{% block contenedor_principal %}

    {% include 'comunes/_mensajes.html.twig' %}

    <form method="POST">
        <div class="form-group">
            <label for="nombre">
            Nombre
            </label>
            <input type="text" class="form-control" value="{{ categoria.nombre }}" name="nombre" id="nombre" placeholder="Nombre" />
        </div>
        <div class="form-group">
            <label for="color">
            Color
            </label>
            <input type="color" style="height: 42px" class="form-control" value="{{ categoria.color }}" name="color" id="color" placeholder="Color" />
        </div>
        <input type="hidden" name="_token" value="{{ csrf_token('categoria') }}">
        <button type="submit" class="btn btn-outline-success">
            Guardar
        </button>
    </form>
{% endblock %}
