{% extends 'base.html.twig' %}

{% block contenedor_principal %}
  {% include 'comunes/_mensajes.html.twig' %}
  
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">
      Mis marcadores
    </h6>
    {% if marcadores is not empty %}
      {% for marcador in marcadores %}
        <div class="media text-muted pt-3">
          <svg width="32" height="32" class="mr-2 rounded">
            <rect width="32" height="32" style="fill:{{ marcador.categoria.color }};" />
          </svg>
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">  
            <div class="d-flex justify-content-between align-items-center w-100">
              <div> 
                <a href="#" target="_blank">
                  <strong class="text-gray-dark">{{ marcador.nombre }}</strong>
                </a>
                <span class="d-block">{{ marcador.categoria.nombre }}</span>
                <span class="d-block">
                  <small>
                    {{ marcador.creado|tiempo({ formato: formato_fecha }) }}
                  </small>  
                </span>  

            {% if marcador.marcadorEtiquetas is not empty %}
              <span class="d-block">
                <small>
                  {% for marcadorEtiqueta in marcador.marcadorEtiquetas %}
                    {{ marcadorEtiqueta.etiqueta.nombre ~ '(' ~ marcadorEtiqueta.creado|tiempo({ formato: formato_fecha }) ~ ')' ~ (not loop.last ? ', ') }}
                  {% endfor %}  
                </small>  
              </span>  
            {% endif %}

              </div>
              <div class="d-flex">   

                <a href="#"
                  class="btn btn-link mg-3 favorito {{ marcador.favorito ? 'activo' }}"
                  data-id="{{ marcador.id }}"
                  data-url="{{ path('app_editar_favorito') }}">
                    <span class="oi oi-star" title="Favorito" aria-hidden="true"></span>
                </a>

                <a href="{{ path('marcador_edit', {id: marcador.id}) }}" class="btn btn-link mg-3">
                    <span class="oi oi-pencil" title="Editar" aria-hidden="true"></span>
                </a>

                {{ include('marcador/_delete_form.html.twig') }}              
              </div>
            </div>
          </div>
        </div>  

      {% endfor %}
      <div class="mt-3">
        {{
          include('comunes/_paginacion.html.twig', {
            'elementos_por_pagina': elementos_por_pagina,
            'numero_total_elementos': marcadores.count,
            'pagina_actual': pagina
          })
        }}
      </div>

    {% else %}
      <p>No se han encontrado marcadores</p>
    {% endif %}
  </div>
{% endblock %}

