<form method="post" action="{{ path('marcador_delete', {'id': marcador.id}) }}" onsubmit="return confirm('¿Estás seguro que deseas eliminar el registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marcador.id) }}">
    <button class="btn btn-link mg-3">
        <span class="oi oi-delete" title="Eliminar" aria-hidden="true"></span>
    </button>
</form>
