{% extends 'base.html.twig' %}

{% block title %}Editar marcador{% endblock %}

{% block contenedor_principal %}
    <h1>Editar marcador</h1>

    {{ include('marcador/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_index') }}">Volver al listado</a>

    <button type="button"
        class="btn btn-link"
        data-toggle="modal"
        data-target="#nuevaEtiquetaModal">
        Crear etiqueta
    </button>
    {{ include('etiqueta/new.modal.html.twig') }}

    {{ include('marcador/_delete_form.html.twig') }}
{% endblock %}

{% block stylesheets_propio %}
    <link rel="stylesheet" href="/css/select2.min.css" />
{% endblock %}

{% block javascript_propio %}
    <script src="/js/select2.min.js"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}