{% extends 'base.html.twig' %}

{% block title %}Editar etiqueta{% endblock %}

{% block contenedor_principal %}
    <h1>Editar etiqueta</h1>

    {{ include('etiqueta/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('etiqueta_index') }}">Volver al listado</a>

    {{ include('etiqueta/_delete_form.html.twig') }}
{% endblock %}
