{% extends 'base.html.twig' %}

{% block title %}Listado de Etiquetas{% endblock %}

{% block contenedor_principal %}
    <h1>Listado de Etiquetas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for etiquetum in etiquetas %}
            <tr>
                <td>{{ etiquetum.id }}</td>
                <td>{{ etiquetum.nombre }}</td>
                <td>
                    <a href="{{ path('etiqueta_show', {'id': etiquetum.id}) }}">Mostrar</a>
                    <a href="{{ path('etiqueta_edit', {'id': etiquetum.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se han encontrado registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('etiqueta_new') }}">Crear etiqueta</a>
{% endblock %}
