{% extends 'base.html.twig' %}

{% block title %}Crear etiqueta{% endblock %}

{% block contenedor_principal %}
    <h1>Crear etiqueta</h1>

    {{ include('etiqueta/_form.html.twig') }}

    <a href="{{ path('etiqueta_index') }}">Volver al listado</a>
{% endblock %}
