<div class="modal fade"
id="nuevaEtiquetaModal"
role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Crear etiqueta</h5>
                <button type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{
                    include(
                        'etiqueta/_form.html.twig',
                        {
                            form: form_etiqueta,
                            ajax: true
                        }
                    )
                }}
            </div>
        </div>
    </div>
</div>
