{% extends 'base.html.twig' %}

{% block title %}Etiqueta{% endblock %}

{% block contenedor_principal %}
    <h1>Etiqueta</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etiquetum.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ etiquetum.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('etiqueta_index') }}">Volver al lsitado</a>

    <a href="{{ path('etiqueta_edit', {'id': etiquetum.id}) }}">Editar</a>

    {{ include('etiqueta/_delete_form.html.twig') }}
{% endblock %}
