{% extends 'base.html.twig' %}

{% block title %}Editar usuario{% endblock %}

{% block contenedor_principal %}
    {% include 'comunes/_mensajes.html.twig' %}
    <h1>Editar usuario</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">Volver al listado</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
