{% extends 'base.html.twig' %}

{% block title %}Crear usuario{% endblock %}

{% block contenedor_principal %}
    {% include 'comunes/_mensajes.html.twig' %}
    <h1>Crear usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Volver al listado</a>
{% endblock %}
