{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block contenedor_principal %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Volver al listado</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Editar</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
